*,
::before,
::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #000;
  transition: all 0.3s ease;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.bntTheme {
  position: absolute;
  top: 100px;
  right: 100px;
  background-color: #333;
  color: #fff;
  padding: 5px 10px;
  border-radius: 10px;
  border-color: #ccc;
}

body.dark {
  background: #343a40;
  color: #fff;
}
body.dark hr {
  border-top: 1px solid rgba(0, 0, 0 0.9);
}

.wrapper {
  padding-top: 5rem;
  margin: 0 auto;
  width: 600px;
}
.wrapper form {
  margin-bottom: 1rem;
}

.done {
  text-decoration: line-through;
}
